DJANGO_SECRET_KEY=replace-with-a-very-long-random-secret-key-for-dev-only-2026
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_CORS_ALLOW_ALL=False
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000
DJANGO_CORS_ALLOWED_ORIGIN_REGEXES=^http://localhost:\d+$,^http://127\.0\.0\.1:\d+$
DJANGO_LANGUAGE_CODE=es-ec
DJANGO_TIME_ZONE=America/Guayaquil
DJANGO_PAGE_SIZE=25

POSTGRES_DB=app_proyecto
POSTGRES_USER=app_user
POSTGRES_PASSWORD=admin1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSLMODE=prefer

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=True
JWT_BLACKLIST_AFTER_ROTATION=True
